<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByAttribute>GeneratedCode,ExcludeFromCodeCoverage</ExcludeByAttribute>
          <ExcludeByFile>**/DTOs/*.cs,**/Models/*.cs,**/Migrations/*.cs,**/Profiles/*.cs,**/Properties/*.cs,**/Settings/*.cs,**/Stripe/*.cs,**/*DTO*.cs,**/appsettings*.json,**/Program.cs,**/NuviaSeeder.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
